
<div class='container-color'>
    <p>browse other items based on our own currently tracked id</p>

    <div>
        {{#if item.error}}
            <p>Error: {{item.error}}</p>
        {{else if item.id}}
            <p>user item they will be browsing with</p>
            <p>{{item.id}}</p>
            <p>{{item.title}}</p>
            <p>{{item.description}}</p>
            <p>{{item.minValue}}</p>
            <p>{{item.maxValue}}</p>
            <p>{{item.userId}}</p>
        {{else}}
            <p>no item</p>
        {{/if}}
    </div>

    <div>
        <p>a scroller for other comparable items with controlls for accept or deny</p>
        <p>must use client side browse.js to complete</p>
    </div>
</div>

<script type="text/javascript" src="js/browse.js"></script>
