
<div class='container-color container'>
     {{#if item.error}}
        <p>Error: {{item.error}}</p>
    {{else}}
       
        <form id="item-form">
            <input type="hidden" id="id" />
            <input type="hidden" id="userId" />

            <input type="text" id="title" placeholder="Enter title..." /><br /><br />
            <label for="minValue">Min Value: </label>
            <input type="number" id="minValue" value="0" min="0" max="999999"><br />
            <label for="maxValue">Max Value: </label>
            <input type="number" id="maxValue" value="0" min="0" max="999999"><br /><br />
            <textarea  id="description" placeholder="Enter item description..."></textarea>
            <button type="submit">Save</button>
            <button id="cancel">Cancel</button>
            {{#if item.id}} <br /><br /><button id="remove">Remove</button>{{/if}}
        </form>
       
    {{/if}}
</div>

<script>
    var formElm = $('#item-form');
    var inputID = $('#id');
    var inputTitle = $('#title');
    var inputDesc = $('#description');
    var inputMin = $('#minValue');
    var inputMax = $('#maxValue');
    var inputUserID = $('#userId');
{{#if item.id}}
    inputID.val("{{item.id}}");
    inputTitle.val("{{item.title}}");
    inputDesc.val("{{item.description}}");
    inputMin.val("{{item.minValue}}");
    inputMax.val("{{item.maxValue}}");
    inputUserID.val("{{item.userId}}");
{{/if}}
</script>

<script type="text/javascript" src="js/item.js"></script>

<!--form
min max value 
type of id hidden userid item ID>  
