
<div class='container-color'>
    <p>create form for user update, auto fill form data with user info</p>

    <div>
        {{#if user.id}}
            <p>User ID: {{user.id}}</p>
            <p>User first name: {{user.first_name}}</p>
            <p>User last name: {{user.first_name}}</p>
            <p>User email: {{user.email}}</p>
            <p>User location: {{user.location}}</p>
        {{/if}}
    </div>
</div>

<script type="text/javascript" src="js/user.js"></script>